on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install nix 2.3.6
      uses: cachix/install-nix-action@v13
      with:
        install_url: https://releases.nixos.org/nix/nix-2.3.6/install
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Use maker and dapp cachix
      uses: cachix/cachix-action@v10
      with:
        name: maker
        extraPullNames: dapp

    - name: Run tests
      run: nix-shell --pure --argstr url ${{ secrets.ETH_RPC_URL }} --run 'dapp test -v --rpc'
  solhint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm i -g solhint
      - run: solhint src/*.sol